.page {
  margin: 20px;
}

.interactions {
  text-align: center;
}

.table {
  margin: 20px 0;

  &-header {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 16px;
    line-height: 24px;

    & > span {
      padding: 0 5px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &-empty {
    margin: 200px;
    font-size: 16px;
    text-align: center;
  }

  &-row {
    display: flex;
    margin: 10px 0;
    padding: 10px;
    line-height: 24px;
    white-space: nowrap;
    background: #fff;
    border: 1px solid #e3e3e3;

    & > span {
      padding: 0 5px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .button-inline {
    padding: 0;
    color: inherit;
    font-size: inherit;
    text-align: inherit;
    background: transparent;
    border-width: 0;
    cursor: pointer;
    -webkit-font-smoothing: inherit;
  }

  .button-active {
    border-bottom: 1px solid #38bb6c;
    border-radius: 0;
  }
}
